#register-box {
    display: none;
    position: absolute;
    top: 43%;
    left: 30%;
    width: 40vw;
    height: 59vh;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
    animation: slideIn 1s 0.5s forwards;
    z-index: 300;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #6a5acd;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 3vh;
}

.message {
    display: block;
    height: 1.4vh;
    color: red;
}

.btn:hover {
    background: #483d8b;
}

@keyframes slideIn {
    from {
        left: -50%;
    }

    to {
        left: 30%;
        opacity: 1;
    }
}

@media (max-width: 768px) {
    #register-box {
        width: 90vw;
        height: 53vh;
        padding: 25px;
        left: 5%;
        top: 60%;
    }

    .textbox input {
        padding: 12px;
        font-size: 14px;
        border-radius: 6px;
    }

    .btn {
        padding: 12px;
        font-size: 14px;
        margin-top: 3vh;
    }

    .message {
        font-size: 0.9rem;
    }
}